@page "/forum"
@implements IDisposable
@inject IToastService ToastService
@inject Services.IBoardService BoardService
@inject Services.IFlyoutService Flyout
@inject NavigationManager NavigationManager
@using Prevent22.Shared
@using Auth

<style>
	div.board:hover {
		cursor: pointer;
		background: lightgrey;
	}

	div.board:nth-child(2n) {
		background: hsl(0, 0%, 95%);
	}
</style>

<div class="px-4 p-4">
	<div class="container">
		@if (boards == null)
		{
			<Loader />
		}
		else
		{
			<AuthorizeView Policy="@Policies.IsAdmin">
				<Authorized>
					<TelerikButton Class="mb-3 k-button-p22" @onclick="CreateBoard">Create new board</TelerikButton>
				</Authorized>
			</AuthorizeView>
			<TelerikListView Data="@boards" Pageable="true">
				<HeaderTemplate>
					<div class="container" style="background: hsl(210, 17%, 98%);">
						<div class="row">
							<div class="col-6">
								<h6 class="mt-1 mb-1">Board</h6>
							</div>
							<div class="col-2 text-center d-none d-sm-block">
								<h6 class="mt-1 mb-1">Threads</h6>
							</div>
							<div class="col-2 text-center d-none d-md-block">
								<h6 class="mt-1 mb-1">Posts</h6>
							</div>
							<div class="col-6 col-sm-4 col-md-2 text-center">
								<h6 class="mt-1 mb-1">Last Post</h6>
							</div>
						</div>
					</div>
				</HeaderTemplate>
				<Template>
					<div class="container board" @onclick="@(() => GoToThreads(context.BoardId))">
						<div class="row pt-2 pb-2">
							<div class="col-6">
								<p class="m-0">@context.BoardName</p>
								<p class="m-0" style="font-size: 0.9rem;">@context.BoardDescription</p>
							</div>
							<div class="col-2 text-center d-none d-sm-block">
								<p class="m-0">@context.ThreadCount</p>
							</div>
							<div class="col-2 text-center d-none d-md-block">
								<p class="m-0">@context.PostCount</p>
							</div>
							<div class="col-6 col-sm-4 col-md-2 text-center">
								<p class="m-0">@Utils.GetHumanDate(context.LastPostDate)</p>

								@if (context.LastPostDate != null)
									{
									<p class="m-0" style="font-size: 0.9rem;">by @context.LastPostAuthor</p>
									}
							</div>
						</div>
					</div>
				</Template>
			</TelerikListView>
		}
	</div>
</div>

@code {
	private List<Board> boards;

	protected override async Task OnInitializedAsync()
	{
		await GetData();
	}

	private async Task GetData()
	{
		try
		{
			var res = await BoardService.GetBoards();

			if (res.Success)
			{
				boards = res.Data;
			}
			else
			{
				ToastService.ShowError(res.Info, "Error");
			}
		}
		catch (Exception e)
		{
			ToastService.ShowError(e.Message);
		}
	}

	private void GoToThreads(int? boardId)
	{
		NavigationManager.NavigateTo($"/forum/{boardId}");
	}

	private void CreateBoard()
	{
		Flyout.Open("Create new board", typeof(Client.Flyout.Boards.BoardsAdd));
		Flyout.OnSuccess = async () =>
		{
			await GetData();
			StateHasChanged();
		};
	}

	public void Dispose()
	{
		Flyout.OnSuccess = null;
	}
}
