@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@using Prevent22.Shared
@using Auth

<style>
	.dropdown-admin-divider {
		height: auto;
		font-size: 0.8rem;
		padding-left: 10px;
		margin-bottom: 0;
		color: lightgray;
	}

	@@media (min-width: 768px) {
		.nav-item-right {
			position: absolute;
			right: 20px;
		}
	}
</style>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<div style="
		position: absolute;
		top: 0;
		left: 0;
		background: hsla(0, 0%, 100%, 0.4);
		z-index: 1;
		height: 76px;
		width: 81px;"></div>
	<a class="navbar-brand" href="#" style="z-index: 2">
		<img src="./images/P22Veterans_Logo-Color.png" alt="Prevent 22 Veterans" class="nav-logo">
	</a>
	<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="@NavMenuCssClass navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="/about-us">About Us</NavLink>
			</li>
			<li class="nav-item dropdown @EventsDropDownClass">
				<a id="resourcesDropdown" class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" aria-haspopup="true" aria-expanded="@showEventsDropDown" @onclick="(() => showEventsDropDown = !showEventsDropDown)">
					Connect
				</a>
				<div class="dropdown-menu @EventsDropDownClass" aria-labelledby="resourcesDropdown" @onclick="(() => showEventsDropDown = !showEventsDropDown)">
					<a class="dropdown-item" href="/forum">Forum</a>
					<a class="dropdown-item" href="/events">Events</a>
				</div>
			</li>
			<li class="nav-item dropdown @ResourcesDropDownClass">
				<a id="resourcesDropdown" class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" aria-haspopup="true" aria-expanded="@showResourcesDropDown" @onclick="(() => showResourcesDropDown = !showResourcesDropDown)">
					Resources
				</a>
				<div class="dropdown-menu @ResourcesDropDownClass" aria-labelledby="resourcesDropdown" @onclick="(() => showResourcesDropDown = !showResourcesDropDown)">
					<a class="dropdown-item" href="/resources/jobs">Job Opportunities</a>
					<a class="dropdown-item disabled" href="#">Resume Templates</a>
					<a class="dropdown-item disabled" href="#">Mental Health Clinics</a>
				</div>
			</li>
			<li class="nav-item">
				<NavLink class="nav-link" href="https://www.bootandheel.com/category/prevent-22" target="_blank" rel="noreferrer">Gear &amp; Apparel</NavLink>
			</li>
			<AuthorizeView>
				<Authorized>
					<li class="nav-item nav-item-right dropdown @ProfileDropDownClass">
						<a id="resourcesDropdown" class="nav-link dropdown-toggle" style="cursor: pointer;" role="button" aria-haspopup="true" aria-expanded="@showProfileDropDown" @onclick="(() => showProfileDropDown = !showProfileDropDown)">
							@(Services.UserService.user != null ? Services.UserService.user.Username : "profile")
						</a>
						<div class="dropdown-menu dropdown-menu-right @ProfileDropDownClass" aria-labelledby="resourcesDropdown" @onclick="(() => showProfileDropDown = !showProfileDropDown)">
							<a class="dropdown-item disabled" href="#">Profile</a>
							<AuthorizeView Policy="@Policies.IsAdmin" Context="AdminDropdownContext">
								<div class="dropdown-divider dropdown-admin-divider">Admin Options</div>
								<a class="dropdown-item" href="/admin">Manage Users</a>
							</AuthorizeView>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#" @onclick="Logout">Logout</a>
						</div>
					</li>
				</Authorized>
				<NotAuthorized>
					<li class="nav-item nav-item-right">
						<NavLink href="/login" class="nav-link">Login</NavLink>
					</li>
				</NotAuthorized>
			</AuthorizeView>
		</ul>
		@*<div class="dropdown @SearchDropDownClass">
				<button class="btn btn-secondary dropdown-toggle" aria-expanded="@showSearchDropDown" @onclick="(() => showSearchDropDown = !showSearchDropDown)">
					<div class="dropdown-menu dropdown-menu-right @SearchDropDownClass" aria-labelledby="resourcesDropdown" style="width: 290px;">
						<form class="form-inline my-2 my-lg-0" style="margin-left: 10px; margin-right: 10px;">
							<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</button>
			</div>*@
	</div>
</nav>

@code {
	private bool collapseNavMenu = true;
	private bool showResourcesDropDown = false;
	private bool showEventsDropDown = false;
	private bool showSearchDropDown = false;
	private bool showProfileDropDown = false;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
	private string ResourcesDropDownClass => showResourcesDropDown ? "show" : null;
	private string EventsDropDownClass => showEventsDropDown ? "show" : null;
	private string SearchDropDownClass => showSearchDropDown ? "show" : null;
	private string ProfileDropDownClass => showProfileDropDown ? "show" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}

	private async void Logout()
	{
		Services.AuthService.IsLoggedIn = false;
		await LocalStorage.RemoveItemAsync(LocalStorageKey.UserId);
		await LocalStorage.RemoveItemAsync(LocalStorageKey.Token);
		await AuthStateProvider.GetAuthenticationStateAsync();
		NavigationManager.NavigateTo("", forceLoad: true);
	}
}
